.footer {
  background: var(--color-primary);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px 10px;
    height: var(--footer-height);
    color: #fff;

    @media (max-width: 400px) {
      height: auto;
      flex-wrap: wrap;
      padding-block: 15px;
    }
  }

  &__author {
    @media (max-width: 400px) {
      order: 1;
      width: 100%;
      text-align: center;
    }

    a {
      transition: color 0.2s ease;

      @media (any-hover) {
        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }
}
