<div class="header">
  <div class="container">
    <div class="header__wrapper">
      <app-logo></app-logo>
      <nav class="header__nav">
        <a
          class="header__nav-link"
          routerLink="catalog"
          ariaCurrentWhenActive="page"
          routerLinkActive="header__nav-link--active"
          >Catalog <mat-icon>list_alt</mat-icon></a
        >
        <a
          class="header__nav-link"
          routerLink="favorites"
          ariaCurrentWhenActive="page"
          routerLinkActive="header__nav-link--active"
          >Favorites <mat-icon>favorite</mat-icon></a
        >
      </nav>
    </div>
  </div>
</div>
