<mat-toolbar color="primary">
  <span routerLink="/">Filmix</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="catalog"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <mat-icon>list_alt</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="favorites"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>

<style>
  .activebutton {
    background-color: #f34236;
  }
</style>
