.table-results {
  table {
    width: 100%;
  }

  td {
    padding-block: 15px;

    img {
      min-height: 40px;
      max-height: 100px;
    }
  }

  .mat-mdc-table .mat-mdc-row {
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(103, 58, 183, 0.025);
    }
  }

  .table-container {
    position: relative;
    min-height: 200px;
    max-height: 580px;
    overflow: auto;
  }
}
