.table-results {
  table {
    width: 100%;
  }

  .mat-mdc-table .mat-mdc-row {
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(103, 58, 183, 0.025);
    }
  }

  &__pagination {
    position: sticky;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .table-container {
    position: relative;
    min-height: 200px;
    max-height: 90vh;
    overflow: auto;
  }
}
