<section class="favorites section-offsets">
  <div class="container container--sm">
    <div class="favorites__content mat-elevation-z8">
      <div class="favorites__header">
        <h1>Favorites movie</h1>
      </div>
      <div class="favorites__body">
        <div *ngIf="favorieteMoviesList.length > 0; else elseBlock">
          <ol class="favorites__list">
            <li *ngFor="let item of favorieteMoviesList">
              <a [routerLink]="'/movies/' + item.id">{{ item.name }}</a>
              <a><mat-icon>cancel</mat-icon></a>
            </li>
          </ol>
        </div>
        <ng-template #elseBlock>
          <h2>Favorites list is empty!</h2>
        </ng-template>
      </div>

      <div class="favorites__controls">
        <button mat-raised-button color="accent" routerLink="catalog">
          Go to catalog
        </button>
      </div>
    </div>
  </div>
</section>
