<div class="container">
  <div class="favorites__banner">
    <h1>Favorites movie</h1>
  </div>

  <div class="container">
    <div *ngIf="favorieteMoviesList.length > 0; else elseBlock">
      <ol class="favorites__list" *ngFor="let item of favorieteMoviesList">
        <li [routerLink]="'/movies/' + item.id">{{ item.name }}</li>
      </ol>
    </div>
    <ng-template #elseBlock>
      <h2>Favorites list is empty!</h2>
    </ng-template>

    <button mat-raised-button color="accent" routerLink="/">
      Go to catalog
    </button>
  </div>
</div>
